<header id="top" class="header">
        <div class="text-vertical-center">
            <h1><font color="lightsteelblue">Which color palate do you like the best?</font></h1>
            <h3><font color="lightsteelblue">This is for cloudy climates</font></h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">SCROLL DOWN</a>
        </div>
</header>

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom CSS -->
    <link href="css/cloudyhrefpicturestyle.css" rel="stylesheet">

<!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/cloudymdc">
                                    <img class="img-portfolio img-responsive" src="img/dark-colors.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/cloudymnc">
                                    <img class="img-portfolio img-responsive" src="img/neutral-colors.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="cloudymbc">
                                    <img class="img-portfolio img-responsive" src="img/bright-colors.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="/portfolio-item">
                                <a href="/cloudymppc">
                                    <img class="img-portfolio img-responsive" src="img/preppy.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->


























