<html>
    <head>
        <link rel="stylesheet" href="css/style.css">   
    </head>
    <body>
        <h1> Welcome to the fortune teller app! </h1>
        <form method="post" action="/fortune">
            Question 1:
            <input type="text" name="">
            Question 2:
            <input type="text" name="Question Number 2">
            <input type="submit" value="Click here for your fortune!">
             <h1> Welcome to the fortune teller app! </h1>  
</form>
    
    
    </body>
</html>











