 
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom CSS -->
    <link href="css/ss.png" rel="stylesheet">


<!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
             
                                    <img class="img-portfolio img-responsive" src="img/bwc.jpg" height="250" width="250">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
    
                                    <img class="img-portfolio img-responsive" src="img/sflake.png" height="310" width="310">
                                </a>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
 
                                    <img class="img-portfolio img-responsive" src="img/snow27.png"height="375" width="375">
                                </a>
                            </div>
                        </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
            
                                    <img class="img-portfolio img-responsive" src="img/bright-colors.png" height="175" width="320">
                                </a>
                            </div>
                        </div>
                    <!-- /.row (nested) -->
