 
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom CSS -->
    <link href="css/ss.png" rel="stylesheet">


<!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
             
                                    <img class="img-portfolio img-responsive" src="img/snowypp2.JPG" height="600" width="600">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
    
                                    <img class="img-portfolio img-responsive" src="img/speech5.png" height="335" width="335">
                                </a>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
 
                                    <img class="img-portfolio img-responsive" src="img/snowypp1.JPG"height="750" width="750">
                                </a>
                            </div>
                        </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
            
                                    <img class="img-portfolio img-responsive" src="img/preppy.png" height="175" width="320">
                                </a>
                            </div>
                        </div>
                    <!-- /.row (nested) -->













